:root {
    --good-color: #ebca47;
    --bad-color: #5c4f4f;
    --card-color: #efede9;
    --card-light: #f5f4f3;
    --bad-light: #534846;
    --good-light: #f4d146;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin-bottom: 5rem;
   font-family: "Helvetica Neue", sans-serif;
}

body.round-over {
   background: #faf8f8;
}

body.game-won {
   background: #fff9e2;
}
body.game-lost {
   background: ##ffefef;
}

.container {
   max-width: 40rem;
   margin: auto;
}

header {
   margin-bottom: 2rem;
   border-bottom: 1px solid #d3d6da;
   display: flex;
   align-items: center;
   background: white;
}

.header-left, menu {
   width: 150px;
}

menu button {
   font-size: 2rem;
   padding: 1rem;
}

h1 {
   flex: 1 1 0;
   padding: 1rem 0;
   text-align: center;
   letter-spacing: .2rem;
   font-family: "Courier New", monospace;
}

h2 {
   margin-bottom: 1rem;
}

ul, h3 {
   margin-bottom: 1rem;
}
h3 {
   font-weight: normal;
}
p {
   margin-bottom: .3rem;
}
ul {
   padding-left: 1rem;
}
li {
   margin-bottom: 4px;
}
p.gap-under{
   margin-bottom: 1rem;
}
.gap-above {
   margin-top: 2rem;
}
a.has-title {
   text-decoration: none;
   color: black;
   border-bottom: 1px solid silver;
}

.scoreboard {
   padding: .7rem;
   margin-bottom: 1rem;
   text-align: center;
   border-bottom: 1px solid #d3d6da;

   display: flex;
   align-items: flex-end;
}

.scoreboard > .spacer {
   width: 7rem;
}

.see-stats {
   text-align: center;
}
.link {
   color: #006eff;
   text-decoration: underline;
   cursor: pointer;
}
.info-text {
   display: none;
}

#clue, .info-text {
   font-size: larger;
   flex: 1 1 0;
}
#clue > span {
   font-weight: bold;
   letter-spacing: .1rem;
}

#bottom {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
}
.log-list {
   text-align: left;
}
.log-list, .card-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.card-list {
   display: flex;
   gap: .3rem;
}
.card-list {
   margin-bottom: .3rem;
}
.small-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 6px;
   width: 7rem;
   font-size: 80%;
   height: 3rem;
   text-align: center;
   background-color: var(--card-color);
   border-radius: 4px;
}
.small-card span {
   background: transparent !important;
   font-size: 80%;
   opacity: .7;
   margin-top: 1px;
}


#turn {
   font-weight: bold;
}

.board {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* Overwritten from javascript */
   gap: 1rem;
   margin-bottom: 1rem;
}

.card {
   padding: 3rem 1rem 1rem 1rem;
   background-color: var(--card-color);
   border-radius: 5px;
   font-size: larger;
   font-weight: 500;
   cursor: pointer;
   overflow: hidden;

   display: flex;
   align-items: stretch;
}
.card > span {
   padding: .5rem;
   letter-spacing: .1rem;
   background: var(--card-light);

   flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bad span {
   background: var(--bad-light);
}
.good span {
   background: var(--good-light);
}

body.round-over .card {
   cursor: auto;
}

.good {
   background: var(--good-color);
}

.bad {
   background: var(--bad-color);
   color: white;
}


button {
   background: transparent;
   border: none;
   cursor: pointer;
}

.floating-circle {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2rem;
  right: -1rem;
  height: 5rem;
  padding: 1.5rem 2rem;
  border-radius: 2.5rem;
  background-color: black;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-align: center;
  cursor: pointer;
  z-index: 1000; /* Ensures it floats above other elements */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
  font-size: 105%;
}
.floating-circle i {
   font-size: 200%;
}

.floating-circle:hover {
  transform: scale(1.1); /* Scales the button on hover */
  background: #333;
}

#bottom {
   position: relative;
}
#remainingClues {
   font-size: 110%;
   padding-right: 1rem;
}

body:not(.round-over) #endTurn, body.game-over #endTurn {
   visibility: hidden;
}
body.round-over #remainingClues, body.game-over #remainingClues {
   visibility: hidden;
}

body.round-over .board {
   opacity: .9;
}
body.game-over .info-text {
   display: block;
}
body.game-over #clue  {
   display: none;
}
body:not(.game-over) .div-after-game {
   display: none;
}
.div-during-game {
   margin-top: 1rem
}
body.game-over .div-during-game {
   display: none;
}
code {
   font-family: "Courier New", monospace;
   font-weight: bold;
}
body.today .not-today {
   display: none;
}
body:not(.today) .is-today {
   display: none;
}

@media only screen and (max-width: 600px) {
   .board {
      gap: .2rem;
   }
   button {
      font-size:100%;
   }
   #bottom {
      grid-template-columns: repeat(2, 1fr);
   }
   .spacer1 {
      display: none;
   }
   .scoreboard > .spacer {
      width: 6rem;
   }
   #hint {
      margin: 0 .2rem;
   }
   .header-left, menu {
      width: auto;
   }
   .card {
      padding: 1.5rem .5rem .5rem .5rem;
   }
   .spacer-left {
      display: none;
   }
   #clue {
      text-align: left;
   }
   .floating-circle {
      right: 1rem;
   }
}

/********************************************************************************/
/*                    Modal overlay                                             */
/********************************************************************************/

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,.8); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 30px 20px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  width: 600px;
  box-shadow: 0 1px 12px 5px rgba(0,0,0,0.2);
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 16px;
  right: 16px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
   .modal-content {
      width: 100%;
   }
   menu button {
      padding: .25rem;
   }
}

.statsItem {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.statsContainer {
   display: flex;
   flex-direction: row;
}

.big-number {
   font-size: 300%;
}
.number-label {
   font-size: 60%;
   width: 3rem;
}

#guessDistribution {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.guessBar {
    width: 0%; /* Initial width, will be set by JavaScript */
    height: 20px;
    background-color: var(--good-color);
    text-align: right;
    padding-right: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.guessBar-container {
   display: flex;
   width: 70%;
   margin: 2px 0;
   font-size: 80%;
   align-items: center;
}
.row-label {
   width: 1rem;
}
