:root {
    --good-color: #ebca47;
    --bad-color: #5c4f4f;
    --card-color: #efede9;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body, h1, p, button {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body {
   margin-bottom: 5rem;
}

body.round-over {
   background: #faf8f8;
}

body.game-over {
   background: #fff9e2;
}

.container {
   max-width: 40rem;
   margin: auto;
}

header {
   margin-bottom: 2rem;
   display: flex;
   border-bottom: 1px solid #d3d6da;
   align-items: center;
}

.header-left, menu {
   width: 150px;
}

menu button {
   font-size: 2rem;
   padding: 1rem;
}

h1 {
   flex: 1 1 0;
   padding: 1rem 0;
   text-align: center;
}

.scoreboard {
   padding: .7rem;
   background-color: #eee;
   margin-bottom: 1rem;
   position: relative;
   text-align: center;
}

#round {
   position: absolute;
   left: 1.7rem;
}

#clue {
   font-size: 110%;
}

#bottom {
   text-align: right;
   margin-bottom: 2rem;

   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
}
ol {
   text-align: left;
}
ul, ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
ul {
   display: flex;
}
ol > li {
   margin-bottom: 1rem;
}
.small-card {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px;
   width: 7rem;
   font-size: 80%;
   height: 3rem;
   margin: .3rem .3rem 0 0;
   text-align: center;
   background-color: var(--card-color);
}


#turn {
   font-weight: bold;
}

.board {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* Overwritten from javascript */
   gap: 1rem;
   margin-bottom: 1rem;
}

.card {
   padding: 20% 10%;
   background-color: var(--card-color);
   border-radius: 5px;
   font-size: larger;
   font-weight: bold;
   cursor: pointer;
   text-transform: uppercase;
   position: relative;
   overflow: hidden;
   text-align: center;
}

body.round-over .card {
   cursor: auto;
}

.good {
   background: var(--good-color);
}

.bad {
   background: var(--bad-color);
   color: white;
}

.hint {
   text-align: center;
}

button {
   background: transparent;
   border: none;
   cursor: pointer;
}

#endTurn {
   padding: 1.5rem 2rem;
   border: none;
   background-color: #000;
   color: #fff;
   cursor: pointer;
   font-size: 105%;
   border-radius: 10px;
}

#endTurn:hover {
   background-color: #333;
}

body:not(.round-over) #endTurn {
   background: #888;
   cursor: auto;
}
body.game-over #endTurn {
   visibility: hidden;
}

@media only screen and (max-width: 600px) {
   .board {
      gap: .2rem;
   }
   button {
      font-size:100%;
   }
   #bottom {
      grid-template-columns: repeat(2, 1fr);
   }
   .spacer1 {
      display:none;
   }
   #hint {
      margin: 0 .2rem;
   }
   .header-left, menu {
      width: auto;
   }
}

/********************************************************************************/
/*                    Modal overlay                                             */
/********************************************************************************/

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,.8); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  width: 600px;
  box-shadow: 0 1px 12px 5px rgba(0,0,0,0.2);
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 16px;
  right: 16px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
   .modal-content {
      width: 100%;
   }
   menu button {
      padding: .25rem;
   }
}
