body, h1, p, button {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

body.round-over {
   background: #faf8f8;
}

body.game-over {
   background: #f0ffee;
}

.container {
    max-width: 40rem;
    margin: auto;
}

header {
    padding: 2rem;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem .7rem .7rem 1.7rem;
    background-color: #eee;
    margin-bottom: 1rem;
}

#turn {
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.card {
    padding: 20% 10%;
    background-color: #eee;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

/*
.card::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: scale(0);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  pointer-events: none;
}

.card.revealed::before {
  transform: scale(3);
  opacity: 0;
}

.card:hover::before {
  transform: scale(1.5);
  opacity: 0.2;
}
*/

.good {
   background: #90ecff;
}

.bad {
   background: #5c4f4f;
   color: white;
}

body:not(.round-over) #endTurn {
   /*visibility: hidden;*/
   background: #555;
}
body.game-over #endTurn {
   visibility: hidden;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    display: none;
}

button {
    padding: 1rem 2rem;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

@media only screen and (max-width: 600px) {
   html {
      font-size: 80%;
   }
   .board {
      gap: .2rem;
   }
}
